<%= form_for(questionnaire, html: {class: ""}) do |f| %>
	<div class="card">
		<h5 class="card-header">Основной блок</h5>
		<div class="card-body">
			<div class="form-group row">
				<%= f.label :category, "Категория", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.select :category, [['Младший школьный возраст', 'младший'], 
											 ['Средний школьный возраст', 'средний'], 
											 ['Старший школьный возраст', 'старший'], 
											 ['Взрослый', 'взрослый']], {}, {class: "form-control"} %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :fio, "ФИО", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_field :fio, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :code, "Код", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :code, class: "form-control" %>
					<div class="invalid-feedback">Код не может быть пустым или повторяться</div>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :code, "Адрес", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<div class="input-group">
						<%= f.select :region, [['Винницкая обл.', 'Винницкая'],
											  ['Волынская обл.', 'Волынская'],
											  ['Днепропетровская обл.', 'Днепропетровская'],
											  ['Донецкая обл.', 'Донецкая'],
											  ['Житомирская обл.', 'Житомирская'],
											  ['Закарпатская обл.', 'Закарпатская'],
											  ['Запорожская обл.', 'Запорожская'],
											  ['Ивано-Франковкая обл.', 'Ивано-Франковкая'],
											  ['Киевская обл.', 'Киевская'],
											  ['Кировоградская обл.', 'Кировоградская'],
											  ['Луганская обл.', 'Луганская'],
											  ['Львовская обл.', 'Львовская'],
											  ['Николаевская обл.', 'Николаевская'],
											  ['Одесская обл.', 'Одесская'],
											  ['Полтавская обл.', 'Полтавская'],
											  ['Ровненская обл.', 'Ровненская'],
											  ['Сумская обл.', 'Сумская'],
											  ['Тернопольская обл.', 'Тернопольская'],
											  ['Харьковская обл.', 'Харьковская'],
											  ['Херсонская обл.', 'Херсонская'],
											  ['Хмельницкая обл.', 'Хмельницкая'],
											  ['Черкасская обл.', 'Черкасская'],
											  ['Черниговская обл.', 'Черниговская'],
											  ['Черновицкая обл.', 'Черновицкая'],
											  ['АР Крым', 'Крым']],
											  {include_blank: true}, {class: "form-control"} %>
						<%= f.text_field :address, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :sex, "Пол", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.select :sex, [['Мужской', 'М'], ['Женский', 'Ж']], {}, {class: "form-control"} %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :age_years, "Возраст в полных годах", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :age_years, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :age_months, "Возраст в полных месяцах", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :age_months, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :place, "Место проживания", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.select :place, [['Город', 'Город'], ['Село', 'Село']], {}, {class: "form-control"} %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :graduate, "Уровень образования", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.select :graduate, [['1 класс', 1], 
											 ['2 класс', 2], 
											 ['3 класс', 3], 
											 ['4 класс', 4],
											 ['5 класс', 5],
											 ['6 класс', 6],
											 ['7 класс', 7],
											 ['8 класс', 8],
											 ['9 класс', 9],
											 ['10 класс', 10],
											 ['11 класс', 11],
											 ['--------------------------------------------------------------------------', 0],
											 ['Общеобразовательная школа', 100],
											 ['Проф. училище', 101],
											 ['Техникум', 102],
											 ['Институт/университет', 103],
											 ['Аспирантура/докторантура', 104],
											 ], {disabled: 0}, {class: "form-control"} %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :weight, "Масса тела респондента", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :weight, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :height, "Рост респондента", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :height, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :bmi, "Индекс массы тела респондента", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :bmi, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :abdominal_pain, "Боли в животе", class: "col-sm-2 control-label" %>
				<div class="col-sm-1">
          			<%= f.check_box :abdominal_pain %>
        		</div>
        		<%= f.label :headache, "Головные боли", class: "col-sm-2 control-label" %>
				<div class="col-sm-1">
          			<%= f.check_box :headache %>
        		</div>
        		<%= f.label :concentration, "Проблемы с концентрацией", class: "col-sm-2 control-label" %>
				<div class="col-sm-1">
          			<%= f.check_box :concentration %>
        		</div>
        		<%= f.label :fatigability, "Частая утомляемость", class: "col-sm-2 control-label" %>
				<div class="col-sm-1">
          			<%= f.check_box :fatigability %>
        		</div>
			</div>
			<div class="form-group row">
				<%= f.label :average_score, "Школьная успеваемость", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.select :average_score, [['-', '-'],
												 ['Средний балл 1-4', '1-4'], 
												 ['Средний балл 5-8', '5-8'], 
												 ['Средний балл 9-12', '9-12']], {}, {class: "form-control"} %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :children_weight, "Масса тела ребенка респондента", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :children_weight, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :children_height, "Рост ребенка респондента", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :children_height, class: "form-control" %>
				</div>
			</div>
			<div class="form-group row">
				<%= f.label :children_bmi, "Индекс массы тела ребенка респондента", class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.number_field :children_bmi, class: "form-control" %>
				</div>
			</div>
		</div>
	</div>
	<br>
	<%= render partial: 'quest', locals: {visual_lines: Questionnaire::VISUAL_STRUCT, form: f} %>
	<div class='form-group row'>
		<div class='col-sm-2'>
			<%= f.submit "Сохранить анкету", class: 'btn btn-outline-secondary' %>
		</div>
		<div class='col-sm-2'>
			<%= link_to 'Вернуться без сохранения', questionnaires_path, class: "btn btn-outline-danger" %>
		</div>
	</div>
<% end %>