<% visual_lines.each do |key, value| %>
	<% if value.is_a? Symbol %>
		<% raise "Undefined column #{value}" if Questionnaire.columns_hash[value.to_s] == nil %>
		<% case Questionnaire.columns_hash[value.to_s].type %>
		<% when :boolean %>
		<div class="form-group row">
			<div class="form-check">
				<div class="col-sm-12">
					<%= form.check_box value, class: "form-check-input" %>
					<%= form.label value, key, class: "form-check-label" %>
				</div>
			</div>
		</div>
		<% when :text %>
		<div class="form-group row">
			<div class="col-sm-12">
				<%= form.label value, key %>
				<%= form.text_field value, class: "form-control" %>
			</div>
		</div>
		<% when :integer %>
		<div class="form-group row">
			<div class="col-sm-12">
				<%= form.label value, key %>
				<%= form.number_field value, class: "form-control" %>
			</div>
		</div>
		<% end %>
	<% else %>
		<div class="card">
			<h5 class="card-header"><%= key %></h5>
			<div class="card-body">
			<%= render partial: 'quest', locals: {visual_lines: value, form: form} %>
			</div>
		</div>
		<br>
	<% end %>
<% end %>