<h3>Список анкет (всего <%= "#{@count}" %> шт.)</h3>

<div class="row">
  <div class='col-sm-12 col-md-6'>
    <%= form_tag(questionnaires_path, :method => "get", id: "search-form") do %>
      <div class='input-group'>
        <%= text_field_tag :search, params[:search], placeholder: "ФИО или код", class: "form-control" %>
        <span class='input-group-append'>
          <%= submit_tag "Найти", class: "btn btn-outline-secondary" %>
          <%= submit_tag "Показать все", class: "btn btn-outline-secondary" %>
        </span>
      </div>
      <br>
    <% end %>
  </div>
  <div class='col-sm-12 col-md-6'>
    <%= link_to 'Создать новую анкету', new_questionnaire_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
<div class="row">
	<div class='col-sm-12'>
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th scope='col'>#</th>
					<th scope='col'></th>
					<th scope='col'>ФИО</th>
					<th scope='col'>Категория</th>
					<th scope='col'>Код</th>
					<th scope='col'>Пол</th>
					<th scope='col'>Возраст (года)</th>
					<th scope='col'>Возраст (месяцы)</th>
					<th scope='col'>Проживание</th>
					<th scope='col'>Область</th>
					<th scope='col'>Образование</th>
					<th scope='col'>Масса</th>
					<th scope='col'>Рост</th>
					<th scope='col'>Индекс массы</th>
					<th scope='col'>Боли в животе</th>
					<th scope='col'>Головные боли</th>
					<th scope='col'>Концен-<br>трация</th>
					<th scope='col'>Утомля-<br>емость</th>
					<th scope='col'>Успева-<br>емость</th>
				</tr>
			</thead>
			<tbody>
			<% @questionnaires.each_with_index do |item, index| %>
				<tr>
					<td><%= @offset+index+1 %></td>
					<td>
						<%= button_to item, method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Вы уверенны, что хотите удалить запись?' } do %>
							<%= octicon "x", class: "text-danger" %>
						<% end %>
					</td>
					<td>
						<%= link_to (item.fio=='' || (!user_signed_in?))  ? '???????' : item.fio, edit_questionnaire_path(item) %>
					</td>
					<td><%= item.category %></td>
					<td><%= item.code %></td>
					<td><%= item.sex %></td>
					<td><%= item.age_years %></td>
					<td><%= item.age_months %></td>
					<td><%= item.place %></td>
					<td><%= item.region %></td>
					<td><%= Questionnaire::EDUCATION[item.graduate] %></td>
					<td><%= item.weight %></td>
					<td><%= item.height %></td>
					<td><%= item.bmi %></td>
					<td><%= item.abdominal_pain ? octicon("check") : "" %></td>
					<td><%= item.headache ? octicon("check") : "" %></td>
					<td><%= item.concentration ? octicon("check") : "" %></td>
					<td><%= item.fatigability ? octicon("check") : "" %></td>
					<td><%= item.average_score %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
<%== pagy_bootstrap_nav(@pagy) %>