<h3>Список анкет (всего <%= "#{@count}" %> шт.)</h3>

<div class="row">
  <div class='col-sm-12 col-md-6'>
    <%= form_tag(questionnaires_path, :method => "get", id: "search-form") do %>
      <div class='input-group'>
        <%= text_field_tag :search, params[:search], placeholder: "ФИО", class: "form-control" %>
        <span class='input-group-append'>
          <%= submit_tag "Найти", class: "btn btn-outline-secondary" %>
          <%= submit_tag "Показать все", class: "btn btn-outline-secondary" %>
        </span>
      </div>
      <br>
    <% end %>
  </div>
  <div class='col-sm-12 col-md-6'>
    <%= link_to 'Создать новую анкету', new_questionnaire_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<div class="row">
	<div class='col-sm-12'>
		<table class="table table-bordered table-hover table-sm">
			<thead>
				<tr>
					<th scope='col'></th>
					<th scope='col'>ФИО</th>
					<th scope='col'>Код</th>
				</tr>
			</thead>
			<tbody>
			<% @questionnaires.each do |item| %>
				<tr>
					<td>
						<%= button_to item, method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Вы уверенны?' } do %>
							<%= octicon "x", class: "text-danger" %>
						<% end %>
					</td>
					<td>
						<%= link_to item.fio=='' ? '???????' : item.fio, edit_questionnaire_path(item) %>
					</td>
					<td><%= item.code %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>